.App {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: block;
  min-height: 50px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: blue;
}

.navbar > li {
  float:left;
  display: block;
  list-style: none;
}

.navbar-left > li {
  float:left;
}

.navbar-right > li {
  float:right;
}

.navbar > li > a {
  padding: 15px;

  color: white;
  font-weight: bold;
  text-decoration: none;
}

.title-bar {
  width: 100%;
  display: inline-block;
}

.title {
  float: left;
  font-size: 2rem;
}

.contact-info {
  margin-right: 10px;
  float: right;
}

ul.contact-info {
  list-style-type: none;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

dt.project-name {
  font-weight: bold;
  margin-top: 10px;
}


dd.project-description {
  margin-left: 0px;
}
