.App {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: block;
  min-height: 50px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: blue;
}

.navbar > li {
  float:left;
  display: block;
  list-style: none;
}

.navbar-left > li {
  float:left;
}

.navbar-right > li {
  float:right;
}

li > a {
  padding: 15px;

  color: white;
  font-weight: bold;
  text-decoration: none;
}
